<h1> List of all movies </h1>

<table border="1">

<% @list_of_movies.each do |each_movie| %>
<tr>
  <td> <%= each_movie.id %> </td>
  <td> 
    <img src="http://robohash.org/<%= each_movie.title %>">
  </td>
  <td> <%= each_movie.title %> </td>
  <td> <%= each_movie.year %> </td>
  <td> 
      <%= each_movie.director_id %> 
  </td>
  <td>
    <a href="/movies/<%= each_movie.id %>">
      Show details
    </a>
  </td>
  
</tr>
<% end %>
